<!-- List of Bikes View -->
<div *ngIf="!selectedBike && !editingCategories && !editingModels" class="bike-list">
  <button (click)="navigateToStations()" class="station-view-button">Enter Station View</button>
  <button (click)="editingCategories = true">Edit Categories</button>
  <button (click)="editingModels = true">Edit Models</button>
  <button (click)="addBike()">Create New Bike</button>
  <div *ngFor="let bike of bikes" 
         class="bike-item" 
         [ngClass]="{'mountain-bike': bike.category_name === 'mountain', 
                     'electric-bike': bike.category_name === 'electric',
                     'city-bike': bike.category_name === 'city',
                     'children-bike': bike.category_name === 'child'}"
         (click)="selectBike(bike)">
  
      <div class="bike-details">
        <span class="bike-id">ID: #{{ bike.bike_id }}</span>
        <span class="bike-location">Station: {{ bike.station_id }}, Spot: {{ bike.place_number }}</span>
        <span class="bike-category">Category: {{ bike.category_name }}</span>
        <span class="bike-model">Model: {{ bike.model_name }}</span>
        <span class="bike-status">Current Status: {{ bike.status }}</span>
      </div>
  </div>
</div>


<!-- Category Editing View -->
<div *ngIf="editingCategories" class="category-list">
  <button (click)="editingCategories = false">Back to Bikes</button>
  <button (click)="addCategory()">Add Category</button>

  <div *ngFor="let category of categories" class="category-item" [ngClass]="{'mountain-bike': category.name === 'mountain', 
  'electric-bike': category.name === 'electric',
  'city-bike': category.name === 'city',
  'children-bike': category.name === 'child'}">
    <div class="category-details">
      <span class="category-name">Name: {{ category.name }}</span>
      <span class="category-id">ID: #{{ category.category_id }}</span>      
    </div>
    <button (click)="editCategory(category)">Edit</button>
    <button (click)="deleteCategory(category.category_id)">Delete</button>
  </div>
</div>
  
<!-- Model Editing View -->
<div *ngIf="editingModels" class="model-editing-view">
  <button (click)="editingModels = false">Back to Bikes</button>
  <button (click)="addModel()">Add Model</button>

  <div *ngFor="let model of models" class="model-item" 
  [ngClass]="{'mountain-bike': model.category_name === 'mountain', 
  'electric-bike': model.category_name === 'electric',
  'city-bike': model.category_name === 'city',
  'children-bike': model.category_name === 'child'}">
    <div class="model-details">
      <span class="bike-model-name">Model name: {{ model.name }}</span>
      <span class="bike-model-id">Model ID: #{{ model.model_id }}</span>
      <span class="bike-category">Category: {{ model.category_name }}</span>
      <span class="bike-manufacturer">Manufacturer: {{ model.manufacturer }}</span>
      <span class="bike-wheel-size">Wheel Size: {{ model.wheel_size }}</span>
      <span class="bike-brakes">Brakes type: {{ model.brakes_type }}</span>
      <span class="bike-description">Description: {{ model.description }}</span>
      
    </div>
    <button (click)="editModel(model)">Edit</button>
    <button (click)="deleteModel(model.model_id)">Delete</button>
  </div>
</div>

<!-- Individual Bike Editing View -->
<div *ngIf="selectedBike" class="bike-details-view">
  <button (click)="selectedBike = null">Close Details</button>
    <h3>Bike Details: (ID: #{{ selectedBike.bike_id }})</h3>
    <p>Current Status: {{ selectedBike.status }}</p>
    <p>Current Station and Spot: {{ selectedBike.station_id }} -- {{ selectedBike.place_number }}</p>
    <h4>Model details: </h4>
    <div class="bike-model-details">
      <span class="bike-model-name">Model name: {{ selectedBike.model_name }}</span>
      <span class="bike-model-id">Model ID: #{{ selectedBike.model_id }}</span>
      <span class="bike-category">Category: {{ selectedBike.category_name }}</span>
      <span class="bike-manufacturer">Manufacturer: {{ selectedBike.manufacturer }}</span>
      <span class="bike-wheel-size">Wheel Size: {{ selectedBike.wheel_size }}</span>
      <span class="bike-brakes">Brakes type: {{ selectedBike.brakes_type }}</span>
      <span class="bike-description">Description: {{ selectedBike.description }}</span>
      
    </div>
    
    <div class="bike-reviews">
        <h4>Customer Reviews:</h4>
        <div *ngFor="let review of selectedBike.reviews">
        <p><strong>User #{{ review.customer_id }}:</strong> {{ review.review_text }} (Rating: {{ review.rating }}/5)</p>
        </div>
    </div>
    <button (click)="editBike(selectedBike)">Edit Bike</button>
    <button (click)="deleteBike(selectedBike.bike_id)">Delete Bike</button>
    
</div>
  
  